<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>plugin-type=1</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IRQ Conflicts</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-HPET.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disabling DGPU</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-DGPU.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-SBUS-MCHC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>OS Calls</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-XOSI.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Notebook brightness</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PNLF.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fake Ambient Light Sensor</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-ALS0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Trackpad</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-I2C.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Brightness Keys</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-BRTK.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Power Management</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PRW.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Power</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-USB.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change ECDV to EC</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				RUNEVg==
				</data>
				<key>Replace</key>
				<data>
				RUNfXw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HPET _CRS to XCRS Rename</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				X0NSUwigGQ==
				</data>
				<key>Replace</key>
				<data>
				WENSUwigGQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>RTC IRQ 8 Patch</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				IgABeQA=
				</data>
				<key>Replace</key>
				<data>
				IgAAeQA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TIMR IRQ 0 Patch</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				IgEAeQA=
				</data>
				<key>Replace</key>
				<data>
				IgAAeQA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>GPRW to XPRW</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				R1BSVwI=
				</data>
				<key>Replace</key>
				<data>
				WFBSVwI=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>OSID to XSID</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				T1NJRA==
				</data>
				<key>Replace</key>
				<data>
				WFNJRA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>OSI to XOSI</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				X09TSQ==
				</data>
				<key>Replace</key>
				<data>
				WE9TSQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Brightness Keys</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				AEVWNV8=
				</data>
				<key>Replace</key>
				<data>
				AEVWQl8=
				</data>
			</dict>
		</array>
	</dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>EnableWriteUnprotector</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v6/7th Gen Core Processor Host Bridge/DRAM Registers</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Xeon E3-1200 v5/E3-1500 v5/6th Gen Core Processor PCIe Controller (x16)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family USB 3.0 xHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,0</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family Serial IO I2C Controller #0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x15,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,21,1</string>
				<key>device_type</key>
				<string>Signal processing controller</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family Serial IO I2C Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication controller</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family MEI Controller #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,23,0</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>HM170/QM170 Chipset SATA Controller [AHCI Mode]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family PCI Express Root Port #5</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>RTL8111/8168/8411 PCI Express Gigabit Ethernet Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>HM175 Chipset LPC/eSPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,2</string>
				<key>device_type</key>
				<string>Memory controller</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family Power Management Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>layout-id</key>
				<data>
				CwAAAA==
				</data>
				<key>model</key>
				<string>CM238 HD Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,4</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family SMBus</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				BgAbWQ==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>model</key>
				<string>Intel HD Graphics 630</string>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Controller</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Keyboard</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Mouse.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Mouse</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>CPUFriend.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CPUFriend</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>CPUFriendDataProvider.kext</string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>USBPorts.kext</string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SATA100.kext</string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CServices</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooGPIO</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooI2C.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2C</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooI2CHID.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CHID</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VerbStub.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VerbStub</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>RealtekRTL8111.kext</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/RealtekRTL8111</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AppleCpuPmCfgLock</key>
			<true/>
			<key>AppleXcpmCfgLock</key>
			<true/>
			<key>CustomSMBIOSGuid</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Boot</key>
		<dict>
			<key>HideSelf</key>
			<true/>
			<key>PickerMode</key>
			<string>Builtin</string>
			<key>ShowPicker</key>
			<false/>
			<key>Timeout</key>
			<integer>0</integer>
		</dict>
		<key>Security</key>
		<dict>
			<key>AllowNvramReset</key>
			<true/>
			<key>ExposeSensitiveData</key>
			<integer>6</integer>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>ScanPolicy</key>
			<integer>983299</integer>
			<key>Vault</key>
			<string>Optional</string>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<data>
				AQ==
				</data>
			</dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>-v</string>
				<key>csr-active-config</key>
				<data>
				AAAAAA==
				</data>
			</dict>
		</dict>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>MLB</key>
			<string>GET YOUR OWN</string>
			<key>ROM</key>
			<data>
			</data>
			<key>SpoofVendor</key>
			<false/>
			<key>SystemProductName</key>
			<string>MacBookPro14,3</string>
			<key>SystemSerialNumber</key>
			<string>GET YOUR OWN</string>
			<key>SystemUUID</key>
			<string>GET YOUR OWN</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Custom</string>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>ApfsDriverLoader.efi</string>
			<string>HFSPlus.efi</string>
			<string>FwRuntimeServices.efi</string>
		</array>
		<key>Output</key>
		<dict>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
		</dict>
	</dict>
</dict>
</plist>
